/*Google Fonts*/
  @import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/*Global */
*{
 margin:0%;
 padding: 5px;
 box-sizing:border-box;
}

body{
  font-family:"poppins",sans-serif;
}
body{
  background: #f1eff1;
}
body h1{
    color: #8f919c; 
}
body p{
    color: #6765e7;
}
/*header*/
header{
  background-image: url("images/图5.jpg");
  background-attachment: fixed;
}

.navbar ul{
  flex: 0;
  text-align: right;
}
.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  text-decoration:none;
  color: rgb(128, 138, 148);
}
.learnmore{
  text-decoration: none;
  color: rgb(112, 125, 201);
}
.ctn{
  text-decoration: none;
  border: 1px solid  rgb(112, 125, 201);
  border-radius: 50px;
  color: rgb(112, 125, 201);
}
.ctn:hover{
  background: var(--gradient--3);
  border: none;
  color: #771480;
}